@media (max-width: 414px) {
  main #s-home {
    height: 210vh;
  }

  #dia {
    top: 1rem;
    left: 4%;
    font-size: 2rem;
  }

  #s-home .saudacao {
    top: 3.5rem;
    left: 4.8%;
  }

  #s-home .weather {
    top: 1rem;
    left: 92%;
  }

  #s-home .yo {
    width: 12rem;
    top: 9rem;
    left: 26%;
    border-radius: 50%;
  }

  #s-home .css {
    width: 3rem;
    top: 8.5rem;
    left: 7rem;
  }

  #s-home .react {
    width: 4rem;
    top: 10rem;
    left: 15.5rem;
  }

  #s-home .js {
    width: 3rem;
    top: 20rem;
    left: 7.4rem;
  }

  #s-home .h3 {
    top: 26.5rem;
    left: 5.5rem;
  }

  #s-home .apelido {
    top: 28.1rem;
    left: 5.5rem;
  }

  #s-home .webdev {
    top: 32rem;
    left: 5.5rem;
    font-size: 1.1rem;
  }

  #s-home .local {
    top: 33.5rem;
    left: 5.5rem;
    font-size: 1.1rem;
  }

  #s-home .email {
    top: 35rem;
    left: 5.5rem;
    font-size: 1.1rem;
  }

  #s-home .port {
    top: 42rem;
    left: 9.5rem;
  }

  #s-home .portfolio {
    top: 45rem;
    left: 9.8rem;
  }

  #s-home .links {
    top: 51rem;
    left: 8.7rem;
  }

  #s-home .links-container {
    top: 53rem;
    left: 17%;
  }

  #s-home .links-container aside {
    margin-top: 3rem;
    display: grid;
    grid-template-columns: repeat(5, 3.5rem);
    grid-template-rows: minmax(4rem, auto) repeat(5, 2rem);
  }

  #s-home .links-container aside i {
    font-size: 2.6rem;
    padding: 0;
  }

  #s-home .s-bat {
    top: 67rem;
    left: 1.2rem;
  }

  #s-home .bat {
    top: 72rem;
    left: 7.8rem;
    visibility: visible;
  }

  #s-home .n-bat {
    top: 82rem;
    left: 8.9rem;
    visibility: visible;
  }

  #s-home .dicas {
    top: 88rem;
    left: 7.8rem;
  }

  #s-home .leitura {
    top: 92rem;
    left: 4rem;
    width: 18rem;
    visibility: visible;
  }

  #s-home .total {
    top: 104rem;
    right: 4rem;
  }

  #s-home .counter {
    top: 104rem;
    right: 1rem;
  }
} ;
