@media (max-width: 414px) {
  main #s-home {
    height: 200vh;
  }

  #dia {
    top: 1rem;
    left: 4%;
    font-size: 2rem;
  }

  #s-home .saudacao {
    top: 3.5rem;
    left: 4.8%;
  }

  #s-home .weather {
    top: 1rem;
    left: 92%;
  }

  #s-home .yo {
    width: 12rem;
    top: 9rem;
    left: 26%;
    border-radius: 50%;
  }

  #s-home .css {
    width: 3rem;
    top: 10rem;
    left: 7rem;
  }

  #s-home .react {
    width: 4rem;
    top: 13.5rem;
    left: 17rem;
  }

  #s-home .js {
    width: 3rem;
    top: 19rem;
    left: 7.2rem;
  }

  #s-home .h3 {
    top: 2.5rem;
    left: 5.5rem;
  }

  #s-home .apelido {
    top: 31.1rem;
    left: 5.5rem;
  }

  #s-home .webdev {
    top: 35rem;
    left: 5.5rem;
    font-size: 1.1rem;
  }

  #s-home .local {
    top: 36.5rem;
    left: 5.5rem;
    font-size: 1.1rem;
  }

  #s-home .email {
    top: 38rem;
    left: 5.5rem;
    font-size: 1.1rem;
  }

  #s-home .links-container {
    top: 27.5rem;
    left: 17%;
  }

  #s-home .links-container aside {
    margin-top: 3rem;
    display: grid;
    grid-template-columns: repeat(5, 3.5rem);
    grid-template-rows: minmax(3.5rem, auto) repeat(5, 2rem);
  }

  #s-home .links-container aside i {
    font-size: 2.6rem;
    padding: 0;
  }
} ;
