* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  height: 100vh;
  width: 100vw;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: -webkit-gradient(
    linear,
    left top,
    right bottom,
    from(#122549),
    to(#ff7c60)
  );
  overflow-x: hidden;
}

.um {
  height: 200vh;
  width: 100vw;
}

#dia {
  font-size: 2.5rem;
  font-weight: 600;
  top: 2rem;
  left: 10%;
  position: absolute;
}

.saudacao {
  font-size: 1.3rem;
  color: #fff;
  top: 5rem;
  left: 10.2%;
  position: absolute;
}

.yo {
  width: 15rem;
  top: 2rem;
  left: 41%;
  position: absolute;
  transition: all 0.3s ease-in-out;
}

.yo:hover {
  transform: scale(1.03);
}

h3 {
  cursor: pointer;
  font-size: 1.6rem;
  top: 19rem;
  left: 41.5%;
  position: absolute;
  transition: all 0.3s ease-in-out;
}

h3:hover {
  color: #fff;
}

span {
  top: 21rem;
  left: 41.6%;
  font-style: italic;
  position: absolute;
}

.email {
  top: 23rem;
  left: 41.5%;
  color: black;
  font-size: 1.2rem;
  text-decoration: none;
  position: absolute;
  transition: all 0.3s ease-in-out;
}

.email:hover {
  color: #fff;
  text-decoration: underline;
}

.links-container {
  display: flex;
  margin-left: 23.6rem;
  flex-direction: column;
  margin-top: -8rem;
}

.links-container aside {
  display: flex;
}

.links-container aside a {
  text-decoration: none;
}

.links-container aside i {
  width: 3rem;
  height: 3rem;
  display: flex;
  cursor: pointer;
  font-size: 2.5rem;
  padding: 0.5rem;
  margin-right: 1rem;

  align-items: center;
  justify-content: center;
  transition: all 300ms ease-in-out;
}

.links-container aside .telegram {
  color: #007fff;
}

.links-container aside .telegram:hover {
  transform: scale(1.05);
}

.links-container aside .whatsapp {
  color: #007fff;
}

.links-container aside .whatsapp:hover {
  transform: scale(1.05);
}

.links-container aside .github {
  color: #007fff;
}

.links-container aside .github:hover {
  transform: scale(1.05);
}

.links-container aside .linkedin {
  color: #007fff;
}

.links-container aside .linkedin:hover {
  transform: scale(1.05);
}

.links-container aside .instagram {
  color: #007fff;
}

.links-container aside .instagram:hover {
  transform: scale(1.05);
}

.links-container aside .codepen {
  color: #007fff;
}

.links-container aside .codepen:hover {
  transform: scale(1.05);
}

.links-container aside .facebook {
  color: #007fff;
}

.links-container aside .facebook:hover {
  transform: scale(1.05);
}

.links-container aside .youtube {
  color: #007fff;
}

.links-container aside .youtube:hover {
  transform: scale(1.05);
}

.links-container aside .twitch {
  color: #007fff;
}

.links-container aside .twitch:hover {
  transform: scale(1.05);
}

.links-container aside .spotify {
  color: #007fff;
}

.links-container aside .spotify:hover {
  transform: scale(1.05);
}
